.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
}

.addsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 30px 50px;
  padding: 40px;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.addsContainer:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 9px;
  cursor:pointer;
}

.textBox {

max-width: 100%;
}

.addsDescription {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;

}

.title_adds {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
  font-weight: 700;
}

.addsHeading {
  padding-left: 30px;
}

.addsImg {
  width: 200px;
  height: 150px;
  border-radius: 5px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  margin-bottom: 7%;
}

.mainHeading {
  margin-left: 35%;
}
.addsBtn{
  width: 200px;
  height: 40px;
  margin-top: 5%;
  margin-right: 2%;
  border-radius:10px ;
  color: #f8d815;
  background-color: black;
}

.blurr{
   
      height: 100vh;
      width: 100%;
      position: fixed;
     top: 0;
     left: 0;

    /*  opacity: 0;
     visibility:hidden;
      z-index: -2;
      */
  
      
    transition: all .5s;
  
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0,0,0, .3); 
    
}
.popUp {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 70vw;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5%;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 1;
  visibility: visible;
  
}

.popUp--close{
  color: black;
    position: absolute;
    top:5px;
    left: 95%;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1;

}

.popUp--close:hover{
  cursor: pointer;
  color: rgba(0, 0, 0, 0.521);
}

.popUp--img{
  width: 400px;
  height: auto;
  
}
.popUp--title{
margin-top: 4%;  
}

.popUp--description {
  text-align: justify;
  width: 400px;
}


/********************* FORM STILES *******************/

.btn_form_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.btn_form_chatt {
  width: 100px;
  height: 40px;
  background-color: #000000;
  color: #f8d815;
  margin: 0 10px 0 0;
  border-radius: 5px;
}

.btn_form_chatt:hover {
  background-color: #f8d815;
  border: 2px solid #000000;
  color: #000000;
}

.btn_form_send {
  width: 100px;
  height: 40px;
  background-color: #f8d815;
  border: 2px solid #000000;
  color: #000000;
  margin: 0 0 0 10px;
  border-radius: 5px;
}

.btn_form_send:hover {
    background-color: #000000;
    color: #f8d815;
}

