.formBtn{
  width: 200px;
  height: 40px;
  margin-top: 5%;
  margin-right: 2%;
  border-radius:10px ;
  color:white;
  background-color: black;
}
.popUp--img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.popUp--title {
  margin-left: 20px;
}
.popUp--description {
  text-align: center;
  padding-right: 30px;
}